/* src/styles/CardClase.css */
.card-clase {
  background-color: rgb(204, 199, 199);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: transform 0.3s;
}

.card-clase:hover {
  transform: translateY(-5px);
}

.card-imagen {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.card-body {
  padding: 20px;
  text-align: left;
}

.card-body h3 {
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: #333;
}

.card-body p {
  font-size: 0.95rem;
  color: #555;
}
